@model BookViewModel

<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row">
            @if (Model.Book.Id != 0)
            {
                <h2 class="text-primary">Edit Book</h2>
            }
            else
            {
                <h2 class="text-primary">Create Book</h2>
            }
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Book.Id" hidden />
        <div class="mb-3">
            <label asp-for="Book.Title"></label>
            <input asp-for="Book.Title" class="form-control" />
            <span asp-validation-for="Book.Title" class="text-danger"></span>
        </div>
        @{
            var images = Model.Book.BookImages;
        }
        @if (images.Count > 0)
        {
            <div class="mb-3 rounded">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators top-0">
                        @for (int i = 0; i < images.Count(); i++)
                        {
                            var isActive = i == 0;
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(isActive ? "active" : "") text-bg-warning" aria-current="@isActive" aria-label="Slide @(i + 1)"></button>
                        }
                    </div>
                    <div class="carousel-inner">
                        @for (int i = 0; i < images.Count(); i++)
                        {
                            var isActive = i == 0 ? "active" : "";
                            <div class="carousel-item @isActive">
                                <img src="@images[i].CoverImageUrl" class="d-block mx-auto" alt="...">
                                <button class="btn btn-danger position-absolute bottom-0 start-50 translate-middle-x mb-2 z-2" onclick="deleteImage('@images[i].Id')">
                                    <i class="bi bi-trash"></i> Delete
                                </button>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        }
        <div class="mb-3">
            <label asp-for="Book.Author"></label>
            <input asp-for="Book.Author" class="form-control" />
            <span asp-validation-for="Book.Author" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.Description"></label>
            <textarea asp-for="Book.Description" class="form-control"></textarea>
            <span asp-validation-for="Book.Description" id="description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.ISBN"></label>
            <input asp-for="Book.ISBN" class="form-control" />
            <span asp-validation-for="Book.ISBN" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.ListPrice"></label>
            <input asp-for="Book.ListPrice" class="form-control" />
            <span asp-validation-for="Book.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.DiscountedPrice"></label>
            <input asp-for="Book.DiscountedPrice" class="form-control" />
            <span asp-validation-for="Book.DiscountedPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.AvailableQuantity"></label>
            <input asp-for="Book.AvailableQuantity" class="form-control" />
            <span asp-validation-for="Book.AvailableQuantity" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.PublicationDate"></label>
            <input asp-for="Book.PublicationDate" class="form-control" />
            <span asp-validation-for="Book.PublicationDate" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Files"></label>
            <input asp-for="Files" class="form-control" multiple />
            <span asp-validation-for="Files" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Book.CategoryId"></label>
            <select asp-for="Book.CategoryId" asp-items="Model.CategoryList" class="form-control">
                <option disabled selected>Select Category</option>
            </select>
            <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 text-start">
                @if (Model.Book.Id != 0)
                {
                    <button type="submit" id="submit" class="btn btn-primary">Edit</button>
                }
                else
                {
                    <button type="submit" id="submit" class="btn btn-primary">Create</button>
                }
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Book" asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
        <partial name="_TinyMCE" />
    }
    <script>
        function deleteImage(id) {
            const form = document.createElement("form");
            form.action = "@Url.Action("DeleteImage", "Book")";
            form.method = "post";

            const input = document.createElement("input");
            input.name = "id";
            input.value = id;
            input.type = "hidden";

            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }
    </script>
}